@use 'index' as *;

.weather-table{
   position: relative;
   display: grid;
   grid-auto-flow: column;
   border: 2px solid $primary-dark;
   background: $primary-dark;
   margin-bottom: 30px;

   @media (max-width: $breakpoint-md) {
    grid-auto-flow: row;
    margin-bottom: 40px;
   }

   .day{
     display: flex;
     flex-direction: column;
     border: 1px solid $primary-dark;
     @media (max-width: $breakpoint-md) {
       display: grid;
       grid-template-columns: 180px 1fr;
     }
     @media (max-width: $breakpoint-sm) {
       grid-template-columns: 160px 1fr;
     }
     @media (max-width: $breakpoint-xs) {
       grid-template-columns: 1fr 160px;
     }
     .day-title{
       font-size: 1.2rem;
       color: #fff;
       background: $primary;
       padding: 8px 12px;
       @media (max-width: $breakpoint-md) {
         display: grid;
         place-content: center;
       }
     }
     .day-times{
       $times-border: 1px solid hsl(0, 0%, 50%);
       display: grid;
       grid-auto-columns: minmax(0, 1fr);
       grid-auto-flow: column;
       @media (max-width: $breakpoint-md) {
         grid-auto-flow: row;
       }
       .empty{
         background: #fff;
         @media (max-width: $breakpoint-md) {
           display: none;
         }
       }
       .day-time{
         padding: 3px 0;
         background: #fff;
         display: flex;
         flex-direction: column;
         border-right: $times-border;
         border-left: $times-border;
         @media (max-width: $breakpoint-md) {
           padding: 5px 0;
           display: grid;
           grid-template-columns: 1fr 1fr 1fr;
           gap: 10px;
           border-right: none;
           border-left: none;
           border-bottom: $times-border;
         }
         @media (max-width: $breakpoint-xs) {
           gap: 0;
         }
         &:last-of-type{
           border-right: none;
           @media (max-width: $breakpoint-md) {
           border-bottom: none;
           }
         }
         .hour{
           padding: 0 8px;
           font-size: 0.9rem;
           color: hsl(0, 0%, 40%);
           @media (max-width: $breakpoint-md) {
             font-size: 0.85rem;
             display: grid;
             justify-items: end;
             align-items: center;
           }
         }
         .temp{
           padding: 0 8px;
           font-size: 1.25rem;
           font-weight: 600;
           color: $dark;
           @media (max-width: $breakpoint-md) {
             display: grid;
             place-content: center;
           }
         }
         .weather-icon{
           display: inline-block;
           position: relative;
           height: 40px;
           @media (max-width: $breakpoint-md) {
             height: unset;
             width: 45px;
           }
           img{
             position: absolute;
             top: -8px;
             left: 0;
             filter: drop-shadow(0 0 1px hsla(0, 0%, 0%, 0.8));
             @media (max-width: $breakpoint-xs) {
               top: 50%;
               transform: translateY(-50%);
             }
           }
         }
       }
     }
   }
   .units-note{
     position: absolute;
     bottom: -27px;
     right: 0;
     font-size: 1rem;
     color: hsl(0, 0%, 30%);
     font-weight: 400;
   }
 }